.messagelist {
  height: 100%;
  width: 80%;
  overflow-y: scroll;
  .timestampSeparator {
    text-align: center;
    margin: 5px;
  }
}

.blank {
  display: flex;
  align-items: center;
  justify-content: center;
}
